<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linter</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="lib/codemirror.css">
    <script src="lib/codemirror.js"></script>
    <script>
        var editor = CodeMirror.fromTextArea(myTextarea, {
            lineNumbers: true
        });
    </script>
</head>
<body>
<div class="cover-container">
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="center-row">
        <div class="col-sm-6">
            <form action="/" method="post">
                <textarea id="myTextarea" class="form-control" style="font-family:monospace;" name="code" required>{{ code|e }}</textarea>
                <input class="btn btn-primary btn-block" type="submit">
            </form>
        </div>
        <div class="col-sm-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Line</th>
                    <th>Level</th>
                    <th>Description</th>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                {% for item in result %}
                    {% if item.level == "error" %}
                        <tr class="danger">
                    {% elseif item.level == "warning" %}
                        <tr class="warning">
                    {% else %}
                        <tr class="info">
                    {% endif %}
                        <td>{{ item.line }}</td>
                        <td>{{ item.level }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.title }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>